/* VARS */
/* IMPORT */
/* moved to bones.php */
/* FONTS */
/* BETTER ADMIN BAR */
/* BASE */
html,
body {
  width: 100%;
  height: 100%;
  background: #f9ece2;
}

@media (max-width: 767.98px) {
  html,
  body {
    -webkit-overflow-scrolling: touch;
    height: auto;
  }
}

html,
body,
button,
input,
select,
textarea {
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  font-style: normal;
  color: black;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

input,
select,
textarea {
  outline: none !important;
}

html {
  font-size: 16px;
}

@media (max-width: 767px) {
  html {
    font-size: 14px;
  }
}

/* UTILITY */
.page-width-full {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page-width {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 80px 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page-width-bleed {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 767px) {
  .page-width-narrow,
  .page-width-medium,
  .page-width-full,
  .page-width {
    padding: 0;
    max-width: 92%;
  }
}

@media (min-width: 992px) and (max-width: 991px) {
  .page-width-narrow,
  .page-width-medium,
  .page-width-full,
  .page-width {
    padding: 0 15px;
    max-width: 100%;
  }
}

/* TYPOGRAPHY */
p,
li {
  margin: 0 0 1.7rem 0;
  line-height: 1.45em;
}

p a {
  color: black;
  text-decoration: none;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

p a:hover {
  color: black;
  text-decoration: none;
  opacity: 0.5;
}

.para-20 p, p.para-20 {
  font-size: 1.111rem;
}

.para-22 p, p.para-22 {
  font-size: 1.222rem;
}

.para-24 p, p.para-24 {
  font-size: 1.333rem;
}

.para-28 p, p.para-28 {
  font-size: 1.556rem;
}

.para-xl p, p.para-xl {
  font-size: 1.4rem;
}

.colour-white-66 p, p.colour-white-66 {
  color: rgba(255, 255, 255, 0.66);
}

.colour-white-70 p, p.colour-white-70 {
  color: rgba(255, 255, 255, 0.7);
}

h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  font-weight: 500;
  font-size: 1rem;
  margin: 0 0 1.4rem 0;
  position: relative;
  text-transform: uppercase;
  text-align: left;
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span {
  text-transform: none;
}

/* PADDING and MARGINS */
.pt-0 {
  padding-top: 0rem !important;
}

@media (max-width: 767.98px) {
  .pt-0 {
    padding-top: 0rem !important;
  }
}

.pb-0 {
  padding-bottom: 0rem !important;
}

@media (max-width: 767.98px) {
  .pb-0 {
    padding-bottom: 0rem !important;
  }
}

.mt-0 {
  margin-top: 0rem !important;
}

@media (max-width: 767.98px) {
  .mt-0 {
    margin-top: 0rem !important;
  }
}

.mb-0 {
  margin-bottom: 0rem !important;
}

@media (max-width: 767.98px) {
  .mb-0 {
    margin-bottom: 0rem !important;
  }
}

@media (max-width: 767px) {
  section.pt-mb-0 {
    padding-top: 0rem !important;
  }
}

@media (max-width: 767px) {
  section.pb-mb-0 {
    padding-bottom: 0rem !important;
  }
}

.pt-1 {
  padding-top: 1rem !important;
}

@media (max-width: 767.98px) {
  .pt-1 {
    padding-top: 0.5rem !important;
  }
}

.pb-1 {
  padding-bottom: 1rem !important;
}

@media (max-width: 767.98px) {
  .pb-1 {
    padding-bottom: 0.5rem !important;
  }
}

.mt-1 {
  margin-top: 1rem !important;
}

@media (max-width: 767.98px) {
  .mt-1 {
    margin-top: 0.5rem !important;
  }
}

.mb-1 {
  margin-bottom: 1rem !important;
}

@media (max-width: 767.98px) {
  .mb-1 {
    margin-bottom: 0.5rem !important;
  }
}

@media (max-width: 767px) {
  section.pt-mb-1 {
    padding-top: 0.5rem !important;
  }
}

@media (max-width: 767px) {
  section.pb-mb-1 {
    padding-bottom: 0.5rem !important;
  }
}

.pt-2 {
  padding-top: 2rem !important;
}

@media (max-width: 767.98px) {
  .pt-2 {
    padding-top: 1rem !important;
  }
}

.pb-2 {
  padding-bottom: 2rem !important;
}

@media (max-width: 767.98px) {
  .pb-2 {
    padding-bottom: 1rem !important;
  }
}

.mt-2 {
  margin-top: 2rem !important;
}

@media (max-width: 767.98px) {
  .mt-2 {
    margin-top: 1rem !important;
  }
}

.mb-2 {
  margin-bottom: 2rem !important;
}

@media (max-width: 767.98px) {
  .mb-2 {
    margin-bottom: 1rem !important;
  }
}

@media (max-width: 767px) {
  section.pt-mb-2 {
    padding-top: 1rem !important;
  }
}

@media (max-width: 767px) {
  section.pb-mb-2 {
    padding-bottom: 1rem !important;
  }
}

.pt-3 {
  padding-top: 3rem !important;
}

@media (max-width: 767.98px) {
  .pt-3 {
    padding-top: 1.5rem !important;
  }
}

.pb-3 {
  padding-bottom: 3rem !important;
}

@media (max-width: 767.98px) {
  .pb-3 {
    padding-bottom: 1.5rem !important;
  }
}

.mt-3 {
  margin-top: 3rem !important;
}

@media (max-width: 767.98px) {
  .mt-3 {
    margin-top: 1.5rem !important;
  }
}

.mb-3 {
  margin-bottom: 3rem !important;
}

@media (max-width: 767.98px) {
  .mb-3 {
    margin-bottom: 1.5rem !important;
  }
}

@media (max-width: 767px) {
  section.pt-mb-3 {
    padding-top: 1.5rem !important;
  }
}

@media (max-width: 767px) {
  section.pb-mb-3 {
    padding-bottom: 1.5rem !important;
  }
}

.pt-4 {
  padding-top: 4rem !important;
}

@media (max-width: 767.98px) {
  .pt-4 {
    padding-top: 2rem !important;
  }
}

.pb-4 {
  padding-bottom: 4rem !important;
}

@media (max-width: 767.98px) {
  .pb-4 {
    padding-bottom: 2rem !important;
  }
}

.mt-4 {
  margin-top: 4rem !important;
}

@media (max-width: 767.98px) {
  .mt-4 {
    margin-top: 2rem !important;
  }
}

.mb-4 {
  margin-bottom: 4rem !important;
}

@media (max-width: 767.98px) {
  .mb-4 {
    margin-bottom: 2rem !important;
  }
}

@media (max-width: 767px) {
  section.pt-mb-4 {
    padding-top: 2rem !important;
  }
}

@media (max-width: 767px) {
  section.pb-mb-4 {
    padding-bottom: 2rem !important;
  }
}

.pt-5 {
  padding-top: 5rem !important;
}

@media (max-width: 767.98px) {
  .pt-5 {
    padding-top: 2.5rem !important;
  }
}

.pb-5 {
  padding-bottom: 5rem !important;
}

@media (max-width: 767.98px) {
  .pb-5 {
    padding-bottom: 2.5rem !important;
  }
}

.mt-5 {
  margin-top: 5rem !important;
}

@media (max-width: 767.98px) {
  .mt-5 {
    margin-top: 2.5rem !important;
  }
}

.mb-5 {
  margin-bottom: 5rem !important;
}

@media (max-width: 767.98px) {
  .mb-5 {
    margin-bottom: 2.5rem !important;
  }
}

@media (max-width: 767px) {
  section.pt-mb-5 {
    padding-top: 2.5rem !important;
  }
}

@media (max-width: 767px) {
  section.pb-mb-5 {
    padding-bottom: 2.5rem !important;
  }
}

.pt-6 {
  padding-top: 6rem !important;
}

@media (max-width: 767.98px) {
  .pt-6 {
    padding-top: 3rem !important;
  }
}

.pb-6 {
  padding-bottom: 6rem !important;
}

@media (max-width: 767.98px) {
  .pb-6 {
    padding-bottom: 3rem !important;
  }
}

.mt-6 {
  margin-top: 6rem !important;
}

@media (max-width: 767.98px) {
  .mt-6 {
    margin-top: 3rem !important;
  }
}

.mb-6 {
  margin-bottom: 6rem !important;
}

@media (max-width: 767.98px) {
  .mb-6 {
    margin-bottom: 3rem !important;
  }
}

@media (max-width: 767px) {
  section.pt-mb-6 {
    padding-top: 3rem !important;
  }
}

@media (max-width: 767px) {
  section.pb-mb-6 {
    padding-bottom: 3rem !important;
  }
}

.pt-7 {
  padding-top: 7rem !important;
}

@media (max-width: 767.98px) {
  .pt-7 {
    padding-top: 3.5rem !important;
  }
}

.pb-7 {
  padding-bottom: 7rem !important;
}

@media (max-width: 767.98px) {
  .pb-7 {
    padding-bottom: 3.5rem !important;
  }
}

.mt-7 {
  margin-top: 7rem !important;
}

@media (max-width: 767.98px) {
  .mt-7 {
    margin-top: 3.5rem !important;
  }
}

.mb-7 {
  margin-bottom: 7rem !important;
}

@media (max-width: 767.98px) {
  .mb-7 {
    margin-bottom: 3.5rem !important;
  }
}

@media (max-width: 767px) {
  section.pt-mb-7 {
    padding-top: 3.5rem !important;
  }
}

@media (max-width: 767px) {
  section.pb-mb-7 {
    padding-bottom: 3.5rem !important;
  }
}

.pt-8 {
  padding-top: 8rem !important;
}

@media (max-width: 767.98px) {
  .pt-8 {
    padding-top: 4rem !important;
  }
}

.pb-8 {
  padding-bottom: 8rem !important;
}

@media (max-width: 767.98px) {
  .pb-8 {
    padding-bottom: 4rem !important;
  }
}

.mt-8 {
  margin-top: 8rem !important;
}

@media (max-width: 767.98px) {
  .mt-8 {
    margin-top: 4rem !important;
  }
}

.mb-8 {
  margin-bottom: 8rem !important;
}

@media (max-width: 767.98px) {
  .mb-8 {
    margin-bottom: 4rem !important;
  }
}

@media (max-width: 767px) {
  section.pt-mb-8 {
    padding-top: 4rem !important;
  }
}

@media (max-width: 767px) {
  section.pb-mb-8 {
    padding-bottom: 4rem !important;
  }
}

.pt-9 {
  padding-top: 9rem !important;
}

@media (max-width: 767.98px) {
  .pt-9 {
    padding-top: 4.5rem !important;
  }
}

.pb-9 {
  padding-bottom: 9rem !important;
}

@media (max-width: 767.98px) {
  .pb-9 {
    padding-bottom: 4.5rem !important;
  }
}

.mt-9 {
  margin-top: 9rem !important;
}

@media (max-width: 767.98px) {
  .mt-9 {
    margin-top: 4.5rem !important;
  }
}

.mb-9 {
  margin-bottom: 9rem !important;
}

@media (max-width: 767.98px) {
  .mb-9 {
    margin-bottom: 4.5rem !important;
  }
}

@media (max-width: 767px) {
  section.pt-mb-9 {
    padding-top: 4.5rem !important;
  }
}

@media (max-width: 767px) {
  section.pb-mb-9 {
    padding-bottom: 4.5rem !important;
  }
}

.pt-10 {
  padding-top: 10rem !important;
}

@media (max-width: 767.98px) {
  .pt-10 {
    padding-top: 5rem !important;
  }
}

.pb-10 {
  padding-bottom: 10rem !important;
}

@media (max-width: 767.98px) {
  .pb-10 {
    padding-bottom: 5rem !important;
  }
}

.mt-10 {
  margin-top: 10rem !important;
}

@media (max-width: 767.98px) {
  .mt-10 {
    margin-top: 5rem !important;
  }
}

.mb-10 {
  margin-bottom: 10rem !important;
}

@media (max-width: 767.98px) {
  .mb-10 {
    margin-bottom: 5rem !important;
  }
}

@media (max-width: 767px) {
  section.pt-mb-10 {
    padding-top: 5rem !important;
  }
}

@media (max-width: 767px) {
  section.pb-mb-10 {
    padding-bottom: 5rem !important;
  }
}

.pt-11 {
  padding-top: 11rem !important;
}

@media (max-width: 767.98px) {
  .pt-11 {
    padding-top: 5.5rem !important;
  }
}

.pb-11 {
  padding-bottom: 11rem !important;
}

@media (max-width: 767.98px) {
  .pb-11 {
    padding-bottom: 5.5rem !important;
  }
}

.mt-11 {
  margin-top: 11rem !important;
}

@media (max-width: 767.98px) {
  .mt-11 {
    margin-top: 5.5rem !important;
  }
}

.mb-11 {
  margin-bottom: 11rem !important;
}

@media (max-width: 767.98px) {
  .mb-11 {
    margin-bottom: 5.5rem !important;
  }
}

@media (max-width: 767px) {
  section.pt-mb-11 {
    padding-top: 5.5rem !important;
  }
}

@media (max-width: 767px) {
  section.pb-mb-11 {
    padding-bottom: 5.5rem !important;
  }
}

.pt-12 {
  padding-top: 12rem !important;
}

@media (max-width: 767.98px) {
  .pt-12 {
    padding-top: 6rem !important;
  }
}

.pb-12 {
  padding-bottom: 12rem !important;
}

@media (max-width: 767.98px) {
  .pb-12 {
    padding-bottom: 6rem !important;
  }
}

.mt-12 {
  margin-top: 12rem !important;
}

@media (max-width: 767.98px) {
  .mt-12 {
    margin-top: 6rem !important;
  }
}

.mb-12 {
  margin-bottom: 12rem !important;
}

@media (max-width: 767.98px) {
  .mb-12 {
    margin-bottom: 6rem !important;
  }
}

@media (max-width: 767px) {
  section.pt-mb-12 {
    padding-top: 6rem !important;
  }
}

@media (max-width: 767px) {
  section.pb-mb-12 {
    padding-bottom: 6rem !important;
  }
}

.pt-13 {
  padding-top: 13rem !important;
}

@media (max-width: 767.98px) {
  .pt-13 {
    padding-top: 6.5rem !important;
  }
}

.pb-13 {
  padding-bottom: 13rem !important;
}

@media (max-width: 767.98px) {
  .pb-13 {
    padding-bottom: 6.5rem !important;
  }
}

.mt-13 {
  margin-top: 13rem !important;
}

@media (max-width: 767.98px) {
  .mt-13 {
    margin-top: 6.5rem !important;
  }
}

.mb-13 {
  margin-bottom: 13rem !important;
}

@media (max-width: 767.98px) {
  .mb-13 {
    margin-bottom: 6.5rem !important;
  }
}

@media (max-width: 767px) {
  section.pt-mb-13 {
    padding-top: 6.5rem !important;
  }
}

@media (max-width: 767px) {
  section.pb-mb-13 {
    padding-bottom: 6.5rem !important;
  }
}

.pt-14 {
  padding-top: 14rem !important;
}

@media (max-width: 767.98px) {
  .pt-14 {
    padding-top: 7rem !important;
  }
}

.pb-14 {
  padding-bottom: 14rem !important;
}

@media (max-width: 767.98px) {
  .pb-14 {
    padding-bottom: 7rem !important;
  }
}

.mt-14 {
  margin-top: 14rem !important;
}

@media (max-width: 767.98px) {
  .mt-14 {
    margin-top: 7rem !important;
  }
}

.mb-14 {
  margin-bottom: 14rem !important;
}

@media (max-width: 767.98px) {
  .mb-14 {
    margin-bottom: 7rem !important;
  }
}

@media (max-width: 767px) {
  section.pt-mb-14 {
    padding-top: 7rem !important;
  }
}

@media (max-width: 767px) {
  section.pb-mb-14 {
    padding-bottom: 7rem !important;
  }
}

.pt-15 {
  padding-top: 15rem !important;
}

@media (max-width: 767.98px) {
  .pt-15 {
    padding-top: 7.5rem !important;
  }
}

.pb-15 {
  padding-bottom: 15rem !important;
}

@media (max-width: 767.98px) {
  .pb-15 {
    padding-bottom: 7.5rem !important;
  }
}

.mt-15 {
  margin-top: 15rem !important;
}

@media (max-width: 767.98px) {
  .mt-15 {
    margin-top: 7.5rem !important;
  }
}

.mb-15 {
  margin-bottom: 15rem !important;
}

@media (max-width: 767.98px) {
  .mb-15 {
    margin-bottom: 7.5rem !important;
  }
}

@media (max-width: 767px) {
  section.pt-mb-15 {
    padding-top: 7.5rem !important;
  }
}

@media (max-width: 767px) {
  section.pb-mb-15 {
    padding-bottom: 7.5rem !important;
  }
}

.pt-16 {
  padding-top: 16rem !important;
}

@media (max-width: 767.98px) {
  .pt-16 {
    padding-top: 8rem !important;
  }
}

.pb-16 {
  padding-bottom: 16rem !important;
}

@media (max-width: 767.98px) {
  .pb-16 {
    padding-bottom: 8rem !important;
  }
}

.mt-16 {
  margin-top: 16rem !important;
}

@media (max-width: 767.98px) {
  .mt-16 {
    margin-top: 8rem !important;
  }
}

.mb-16 {
  margin-bottom: 16rem !important;
}

@media (max-width: 767.98px) {
  .mb-16 {
    margin-bottom: 8rem !important;
  }
}

@media (max-width: 767px) {
  section.pt-mb-16 {
    padding-top: 8rem !important;
  }
}

@media (max-width: 767px) {
  section.pb-mb-16 {
    padding-bottom: 8rem !important;
  }
}

.pt-17 {
  padding-top: 17rem !important;
}

@media (max-width: 767.98px) {
  .pt-17 {
    padding-top: 8.5rem !important;
  }
}

.pb-17 {
  padding-bottom: 17rem !important;
}

@media (max-width: 767.98px) {
  .pb-17 {
    padding-bottom: 8.5rem !important;
  }
}

.mt-17 {
  margin-top: 17rem !important;
}

@media (max-width: 767.98px) {
  .mt-17 {
    margin-top: 8.5rem !important;
  }
}

.mb-17 {
  margin-bottom: 17rem !important;
}

@media (max-width: 767.98px) {
  .mb-17 {
    margin-bottom: 8.5rem !important;
  }
}

@media (max-width: 767px) {
  section.pt-mb-17 {
    padding-top: 8.5rem !important;
  }
}

@media (max-width: 767px) {
  section.pb-mb-17 {
    padding-bottom: 8.5rem !important;
  }
}

.pt-18 {
  padding-top: 18rem !important;
}

@media (max-width: 767.98px) {
  .pt-18 {
    padding-top: 9rem !important;
  }
}

.pb-18 {
  padding-bottom: 18rem !important;
}

@media (max-width: 767.98px) {
  .pb-18 {
    padding-bottom: 9rem !important;
  }
}

.mt-18 {
  margin-top: 18rem !important;
}

@media (max-width: 767.98px) {
  .mt-18 {
    margin-top: 9rem !important;
  }
}

.mb-18 {
  margin-bottom: 18rem !important;
}

@media (max-width: 767.98px) {
  .mb-18 {
    margin-bottom: 9rem !important;
  }
}

@media (max-width: 767px) {
  section.pt-mb-18 {
    padding-top: 9rem !important;
  }
}

@media (max-width: 767px) {
  section.pb-mb-18 {
    padding-bottom: 9rem !important;
  }
}

.pt-19 {
  padding-top: 19rem !important;
}

@media (max-width: 767.98px) {
  .pt-19 {
    padding-top: 9.5rem !important;
  }
}

.pb-19 {
  padding-bottom: 19rem !important;
}

@media (max-width: 767.98px) {
  .pb-19 {
    padding-bottom: 9.5rem !important;
  }
}

.mt-19 {
  margin-top: 19rem !important;
}

@media (max-width: 767.98px) {
  .mt-19 {
    margin-top: 9.5rem !important;
  }
}

.mb-19 {
  margin-bottom: 19rem !important;
}

@media (max-width: 767.98px) {
  .mb-19 {
    margin-bottom: 9.5rem !important;
  }
}

@media (max-width: 767px) {
  section.pt-mb-19 {
    padding-top: 9.5rem !important;
  }
}

@media (max-width: 767px) {
  section.pb-mb-19 {
    padding-bottom: 9.5rem !important;
  }
}

.pt-20 {
  padding-top: 20rem !important;
}

@media (max-width: 767.98px) {
  .pt-20 {
    padding-top: 10rem !important;
  }
}

.pb-20 {
  padding-bottom: 20rem !important;
}

@media (max-width: 767.98px) {
  .pb-20 {
    padding-bottom: 10rem !important;
  }
}

.mt-20 {
  margin-top: 20rem !important;
}

@media (max-width: 767.98px) {
  .mt-20 {
    margin-top: 10rem !important;
  }
}

.mb-20 {
  margin-bottom: 20rem !important;
}

@media (max-width: 767.98px) {
  .mb-20 {
    margin-bottom: 10rem !important;
  }
}

@media (max-width: 767px) {
  section.pt-mb-20 {
    padding-top: 10rem !important;
  }
}

@media (max-width: 767px) {
  section.pb-mb-20 {
    padding-bottom: 10rem !important;
  }
}

/* HEADER & FOOTER */
nav {
  background: black;
  position: fixed;
  top: 0;
  left: -100%;
  bottom: 0;
  z-index: 10;
  width: 100%;
  max-width: 80%;
  -webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.6s;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.6s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 4.5rem;
}

@media (max-width: 767px) {
  nav {
    width: 100%;
    max-width: 100%;
    padding: 0 8%;
    left: -100%;
  }
}

.menu-open nav {
  left: 0;
}

nav .menu {
  margin-top: 120px;
}

nav .menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav .menu ul li {
  margin: 0 0 1rem 0;
  padding: 0;
  font-size: 1.15rem;
  text-transform: uppercase;
  font-weight: 600;
}

@media (max-width: 767px) {
  nav .menu ul li {
    font-size: 1.3rem;
  }
}

nav .menu ul li ul {
  display: none;
  margin: 1.4rem 0 2rem 2rem;
}

nav .menu ul li ul.open {
  display: block;
}

nav .menu ul li ul li {
  font-size: 1rem;
}

nav .menu ul li a {
  color: #f9ece2;
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding: 0 0 0.5rem 0;
  -webkit-transition: opacity ease-in-out 0.2s;
  transition: opacity ease-in-out 0.2s;
}

nav .menu ul li a:after {
  opacity: 0;
  -webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.6s;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.6s;
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: #f9ece2;
}

@media (max-width: 767px) {
  nav .menu ul li a:after {
    height: 2px;
  }
}

nav .menu ul li a:hover {
  opacity: 0.5;
}

nav .menu ul li a:hover:after {
  opacity: 1;
}

nav .social {
  color: #f9ece2;
}

nav .social ul {
  list-style: none;
  margin: 0 0 2rem 0;
  padding: 0;
  font-size: 0;
}

@media (max-width: 767px) {
  nav .social ul {
    margin-bottom: 1.3rem;
  }
}

nav .social ul li {
  display: inline-block;
  font-size: 1rem;
  margin: 0 1rem 0 0;
  padding: 0;
}

nav .social ul li a {
  color: #f9ece2;
}

nav .social ul li a svg {
  width: 38px;
  height: auto;
}

@media (max-width: 767px) {
  nav .social ul li a svg {
    width: 28px;
  }
}

nav .social ul li a svg path {
  -webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.6s;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.6s;
}

nav .social ul li a:hover svg path {
  fill: #364b9d;
}

nav .social p {
  text-transform: uppercase;
  font-weight: 600;
}

nav .social p a {
  color: #f9ece2;
}

.back-to-top {
  display: block;
  width: 22px;
  height: 33px;
  background: url(../images/arrow-up.png) center center no-repeat;
  background-size: contain;
  background-blend-mode: color-burn;
  position: fixed;
  z-index: 1000;
  bottom: 85px;
  right: 35px;
  mix-blend-mode: difference;
  opacity: 0;
  -webkit-transition: opacity ease-in-out 0.5s;
  transition: opacity ease-in-out 0.5s;
}

@media (min-width: 850px) {
  .show-back-to-top .back-to-top {
    opacity: 1;
  }
}

footer {
  background: #e6e7e9;
  padding-top: 1.2rem;
  padding-bottom: 1.1rem;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}

@media (max-width: 767px) {
  footer ul {
    text-align: center;
  }
}

footer ul li {
  margin: 0 1rem 0 0;
  padding: 0;
  display: inline-block;
  font-size: 0.65rem;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  footer ul li {
    margin: 0 0.4rem;
    font-size: 0.6rem;
  }
  footer ul li:first-child {
    margin-left: 0;
  }
  footer ul li:last-child {
    margin-right: 0;
  }
}

footer ul li a {
  color: black;
  text-decoration: none;
  -webkit-transition: opacity ease-in-out 0.2s;
  transition: opacity ease-in-out 0.2s;
}

footer ul li a:hover {
  color: black;
  text-decoration: none;
  opacity: 0.5;
}

footer .copyright ul {
  text-align: right;
}

@media (max-width: 767px) {
  footer .copyright ul {
    margin: 0.5rem 0 0 0;
    text-align: center;
  }
}

footer .copyright ul li {
  margin: 0 0 0 1rem;
}

@media (max-width: 767px) {
  footer .copyright ul li {
    margin: 0 1rem;
  }
}

/* CURSOR */
/* BUTTONS */
.btn,
.btn:active,
.btn:focus,
input[type="submit"] {
  overflow: visible;
  outline: none;
  font-size: 0.833rem;
  font-weight: 600;
  text-transform: uppercase;
  background: #364b9d;
  border: none;
  border-radius: 0;
  font-weight: 300;
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  padding: 0.4rem 1rem 0.3rem 1rem;
  position: relative;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  display: inline-block;
  -webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.6s;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.6s;
}

.btn:hover,
.btn:active:hover,
.btn:focus:hover,
input[type="submit"]:hover {
  background: white;
  color: #364b9d;
}

/* TRANSITIONS */
section.staggered-fade .item {
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  opacity: 0;
  -webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
}

section.staggered-fade .item.item-1 {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

section.staggered-fade .item.item-2 {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

section.staggered-fade .item.item-3 {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

section.staggered-fade .item.item-4 {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

section.staggered-fade.viewed .item {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

/* MODULES */
section.rv-hero {
  min-height: 425px;
  background-color: black;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

section.rv-hero a {
  color: black;
}

section.rv-hero.height-tall {
  min-height: 90vh;
}

@media (max-width: 767px) {
  section.rv-hero.height-tall {
    min-height: 100vw;
  }
}

section.rv-hero.cream-text {
  color: #f9ece2;
}

section.rv-hero.cream-text a {
  color: #f9ece2;
}

section.rv-hero.cream-text .menu-toggle a {
  border-top: #f9ece2 solid 3px;
}

section.rv-hero.cream-text .menu-toggle a:before, section.rv-hero.cream-text .menu-toggle a:after {
  background: #f9ece2;
}

section.rv-hero .logo {
  padding: 0.2rem 0 1.25rem 0;
}

section.rv-hero .logo img {
  width: 173px;
  height: auto;
  display: block;
}

section.rv-hero .region ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}

section.rv-hero .region ul li {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  display: inline-block;
}

section.rv-hero .region ul li:after {
  content: '/';
  padding: 0 0.4rem;
}

section.rv-hero .region ul li:last-child:after {
  content: '';
}

section.rv-hero .menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

section.rv-hero .menu ul > li {
  margin: 0 0 0.4rem 0;
  padding: 0;
}

section.rv-hero .menu ul > li.label {
  font-weight: 500;
}

section.rv-hero .menu ul > li a {
  text-decoration: none;
  -webkit-transition: opacity ease-in-out 0.2s;
  transition: opacity ease-in-out 0.2s;
}

section.rv-hero .menu ul > li a:hover {
  opacity: 0.5;
}

section.rv-hero .menu ul > li.current-menu-item > a:not([href*='#']) {
  font-weight: 500;
}

section.rv-hero .menu.pages a:after {
  content: '>';
  padding-left: 0.5rem;
}

@media (max-width: 767px) {
  section.rv-hero .menu.portfolio {
    padding-top: 1.6rem;
  }
}

section.rv-hero .menu.portfolio > ul > li:not(.current-menu-ancestor):not(.current-menu-item) {
  display: none;
}

section.rv-hero .menu.portfolio > ul > li {
  font-weight: 500;
}

section.rv-hero .menu.portfolio > ul > li .menu-item-description {
  display: block;
  font-weight: 300;
  margin: 0 0 1rem 0;
}

@media (max-width: 767px) {
  section.rv-hero .menu.portfolio > ul > li > ul {
    margin-top: 1.6rem;
  }
}

section.rv-hero .menu.portfolio > ul > li > ul > li {
  font-weight: 300;
}

section.rv-hero .menus {
  padding-left: 12%;
  padding-right: 0%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 1040px) {
  section.rv-hero .text {
    width: 360px;
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  section.rv-hero .text {
    margin-top: 2rem;
  }
}

section.rv-hero .text p {
  font-weight: 500;
}

@media (min-width: 768px) and (max-width: 930px) {
  section.rv-hero .text p br {
    display: none;
  }
}

section.rv-hero .text.mobile-text-only p {
  font-weight: 300;
}

section.rv-hero .text.mobile-text-only p strong, section.rv-hero .text.mobile-text-only p b {
  font-weight: 500;
}

section.rv-hero .menu-toggle-position {
  position: absolute;
  z-index: 1000;
  top: 3rem;
  right: 30px;
}

section.rv-hero .menu-toggle {
  text-align: right;
  margin: -0.65rem 0 0 0;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

section.rv-hero .menu-toggle a {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 31px;
  border-top: #364b9d solid 3px;
  font-size: 0;
}

@media (max-width: 767px) {
  section.rv-hero .menu-toggle a {
    border-top: #364b9d solid 2px;
    height: 28px;
  }
}

section.rv-hero .menu-toggle a:before, section.rv-hero .menu-toggle a:after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background: #364b9d;
  left: 0;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

@media (max-width: 767px) {
  section.rv-hero .menu-toggle a:before, section.rv-hero .menu-toggle a:after {
    height: 2px;
  }
}

section.rv-hero .menu-toggle a:before {
  top: 11px;
}

section.rv-hero .menu-toggle a:after {
  bottom: 0px;
}

section.rv-hero .menu-toggle a:hover:after {
  width: 100%;
}

.menu-open section.rv-hero .menu-toggle a {
  border-top: none;
}

.menu-open section.rv-hero .menu-toggle a:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 10px;
}

.menu-open section.rv-hero .menu-toggle a:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 10px;
  bottom: auto;
  width: 100%;
}

section.rv-team {
  padding-top: 7rem;
  padding-bottom: 6rem;
}

section.rv-team + .rv-team {
  padding-top: 0;
}

section.rv-team .item {
  display: block;
  text-decoration: none;
  color: black;
}

@media (max-width: 767px) {
  section.rv-team .item {
    margin-bottom: 2rem;
  }
}

section.rv-team .item:hover h3 {
  opacity: 0.6;
}

section.rv-team .item img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 0 0.75rem 0;
  padding: 0;
}

section.rv-team .item h3 {
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  font-size: 0.875rem;
  margin: 0 0 0.5rem 0;
  line-height: 1em;
  padding: 0;
}

section.rv-team .item p {
  font-size: 0.875rem;
  margin: 0 0 0.4rem 0;
  line-height: 1.3em;
  padding: 0;
}

section.rv-team .item p.secondary {
  color: #364b9d;
}

section.rv-team .team-member-bios {
  margin-top: -3rem;
}

section.rv-team .team-member-bios .bio-content {
  padding-top: 4rem;
}

section.rv-team .team-member-bios .right {
  text-align: right;
}

section.rv-team .team-member-bios .back {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

section.rv-team .team-member-bios .back:before {
  content: '<';
  padding-right: 0.5rem;
}

section.rv-team .team-member-bios .close {
  display: inline-block;
  width: 17px;
  height: 17px;
  font-size: 0;
  position: relative;
}

section.rv-team .team-member-bios .close:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1px;
  background: black;
  height: 100%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

section.rv-team .team-member-bios .close:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1px;
  background: black;
  height: 100%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

section.rv-team .team-member-bios h3 {
  margin: 0 0 0rem 0;
  padding: 0;
}

@media (max-width: 767px) {
  section.rv-team .team-member-bios img {
    margin-bottom: 2rem;
  }
}

section.rv-team .team-member-bios p.position {
  margin: 0 0 0.5rem 0;
  padding: 0;
}

section.rv-team .team-member-bios p.position.secondary {
  color: #364b9d;
}

section.rv-team .team-member-bios .bio {
  padding-top: 1rem;
}

section.rv-team .team-member-bios .bio p a {
  text-decoration: underline;
}

section.rv-contact {
  background: black;
  color: white;
  padding-top: 6.5rem;
  padding-bottom: 6.5rem;
}

section.rv-contact p {
  font-weight: 500;
}

@media (min-width: 992px) and (max-width: 1210px) {
  section.rv-contact p br {
    display: none;
  }
}

@media (min-width: 992px) {
  section.rv-contact .form {
    padding-left: 16%;
  }
}

@media (min-width: 992px) {
  section.rv-contact .form .name {
    padding-right: 6px;
  }
}

@media (min-width: 992px) {
  section.rv-contact .form .company {
    padding-left: 6px;
  }
}

section.rv-contact .form .wpcf7-form-control-wrap {
  margin: 0 0 0.8rem 0;
  display: block;
}

section.rv-contact .form .wpcf7-not-valid-tip {
  font-size: 0.75rem;
  display: block;
  margin: 0.2rem 0 0 0;
}

section.rv-contact .form input[type="text"],
section.rv-contact .form input[type="email"] {
  width: 100%;
  display: block;
  border: none;
  border-radius: 0;
  font-size: 0.75rem;
  background: #FFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 0.5rem;
  margin: 0;
  height: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

section.rv-contact .form textarea {
  width: 100%;
  display: block;
  border: none;
  border-radius: 0;
  font-size: 0.75rem;
  background: #FFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 0.5rem;
  margin: 0;
  height: 142px;
  line-height: 30px;
  text-transform: uppercase;
}

section.rv-contact .form input[type="submit"] {
  float: right;
  margin-top: 0.7rem;
  font-weight: 400;
}

section.rv-text {
  padding-top: 5.5rem;
  padding-bottom: 5rem;
}

section.rv-text + .rv-text {
  padding-top: 0rem;
}

section.rv-text.cream {
  background: #f9ece2;
}

section.rv-text.black {
  background: black;
  color: #f9ece2;
}

section.rv-text.black a {
  color: #f9ece2;
}

section.rv-text.blue {
  background: #364b9d;
  color: #f9ece2;
}

section.rv-text.blue a {
  color: #f9ece2;
}

section.rv-text a {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}

section.rv-text strong, section.rv-text b {
  font-weight: 500;
}

@media (min-width: 992px) {
  section.rv-text.three-col .item-2 .text {
    padding-right: 5%;
  }
}

@media (max-width: 767px) {
  section.rv-text.layout-portfolio:not(.title-left-aligned) {
    padding-left: 10%;
    padding-right: 10%;
  }
}

section.rv-text.layout-portfolio:not(.title-left-aligned) .left p, section.rv-text.layout-portfolio:not(.title-left-aligned) .left h1, section.rv-text.layout-portfolio:not(.title-left-aligned) .left h2, section.rv-text.layout-portfolio:not(.title-left-aligned) .left h3 {
  text-align: right;
}

@media (max-width: 767px) {
  section.rv-text.layout-portfolio:not(.title-left-aligned) .left p, section.rv-text.layout-portfolio:not(.title-left-aligned) .left h1, section.rv-text.layout-portfolio:not(.title-left-aligned) .left h2, section.rv-text.layout-portfolio:not(.title-left-aligned) .left h3 {
    text-align: left;
  }
}

section.rv-text.layout-portfolio.title-left-aligned .left p, section.rv-text.layout-portfolio.title-left-aligned .left h1, section.rv-text.layout-portfolio.title-left-aligned .left h2, section.rv-text.layout-portfolio.title-left-aligned .left h3 {
  text-align: left;
  float: right;
}

@media (max-width: 767px) {
  section.rv-text.layout-portfolio.title-left-aligned .left p, section.rv-text.layout-portfolio.title-left-aligned .left h1, section.rv-text.layout-portfolio.title-left-aligned .left h2, section.rv-text.layout-portfolio.title-left-aligned .left h3 {
    float: none;
  }
}

section.rv-full-width-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@media (max-width: 767px) {
  section.rv-full-width-image {
    min-height: 100vw;
  }
}

@media (min-width: 992px) {
  section.rv-full-width-image {
    background-image: none !important;
  }
}

section.rv-full-width-image img {
  display: block;
  width: 100%;
  height: auto;
}

@media (max-width: 767px) {
  section.rv-full-width-image img {
    display: none;
  }
}

/* TODO: detect js, apply body class and require */
/*
section:not(.sp-hero){
  transform: translateY(60px);
  transition: all $ease_authentic 1s;
  transition-delay: 0.2s;
  &.viewed {
    transform: translateY(0); 
  }
}
section:not(.sp-hero){
  opacity:0;
  transition: all $ease_authentic 1s;
  transition-delay: 0.2s;
  &.viewed {
    opacity: 1;
  }
}
*/
/* FORMS */
body:not(.page-id-296) .grecaptcha-badge {
  visibility: hidden;
}

::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 1;
  /* Firefox */
}

::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 1;
  /* Firefox */
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #000;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #000;
}

/* WORDPRESS */
/*# sourceMappingURL=style.css.map */

.team-member-bio img {
    max-width: 100%;
}